include README.md
include LICENSE
recursive-include octoprint_layercapture/templates *
recursive-include octoprint_layercapture/static *
recursive-include octoprint_layercapture/translations *
prune *.pyc
